<div class="h-[100vh] flex flex-col justify-between items-center">
  <img class="mt-40" src="images/logo.png" alt="logo" />
  <div class="w-full text-center my-20">
    <h1 class="text-3xl font-bold mb-14">Login to Your Account</h1>
    <form>
      <div class="flex items-center bg-gray-200 p-3 m-7 text-xl rounded-md">
        <img src="/images/email.svg" alt="decor" width="20" />
        <input type="email" placeholder="Email" class="outline-0 bg-transparent ml-2 w-full" required autocomplete="on" />
      </div>
      <div class="flex items-center bg-gray-200 p-3 m-7 text-xl rounded-md">
        <img src="/images/lock-fill.svg" alt="decor" width="20" />
        <input type="password" placeholder="Password" class="outline-0 bg-transparent ml-2 w-full" required autocomplete="on" />
        <img id="see-password" src="/images/eye-slash-fill.svg" alt="decor" width="20" />
      </div>
      <div>
        <input type="checkbox" id="remember" />
        <label for="remember" class="text-xl">Remember me</label>
      </div>
      <button class="w-5/6 bg-black rounded-full text-white text-2xl p-4 mt-52 mb-6" id="sign-in" disabled>Sign in</button>
    </form>
  </div>
</div>
